:root{
  --light-yellow:#FFF48F;
  --light-green:#C8DAA6;
  --dark-yellow:#FED21F;
  --olive:#5E763B;
  --title-text:#607542;
  --main-text:#281914;
  --background:#FAF9F6;
}

@font-face {
  font-family: bodyFont;
  src: url(Inder-Regular.ttf);
}

@font-face {
  font-family: titleFont;
  src: url(InknutAntiqua-Regular.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  width: 100vw;
  margin: 0px;
  background-color: var(--light-yellow);
}

p{
  font-size: 2vh;
  font-family: bodyFont;
  width: 80vw;
  display: flex;
  margin:auto;
  margin-bottom:10px;
  margin-top:10px;
  line-height: 1.45;
}

p+p{
  margin-top:15px;
}

h1{
  font-size:4vh;
  margin:0px;
  padding:10px;
  align-items: center;
  display: flex;
  font-family: titleFont;
  color: var(--title-text);
  background-color: var(--light-yellow);
  width: 100%;
}

.about-link{
  color: var(--title-text);
  text-decoration: none;
  margin: 0 auto;
}

h2{
  font-size: 3.5vh;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  font-family: bodyFont;
  color: var(--title-text);
  margin: 0px, auto, 15px;
}

.seperator{
  margin: 25px;
  height: 25px;
}

h3{
  font-size: 2.5vh;
  display: flex;
  justify-content: flex-start;
  margin-left:9vw;
  font-family: titleFont;
  color: var(--title-text);
}

.img-seperator{
  height:5px;
  background-color: var(--light-green);
  width:75vw;
  margin: auto;
  border-radius: 25px;
}

/*NEW NAV???*/
.head-nav{
  position: absolute;
  min-height: 66px;
  padding: 0 100px;
  background-color: var(--dark-yellow);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-nav ul{
  position: relative;
}

.head-nav ul li{
  position: relative;
  list-style: none;
  float: left;
}

.head-nav ul li a{
  color: var(--title-text);
  font-family: titleFont;
  font-weight: 400;
  padding: 20px 25px;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
}

.head-nav ul li a:hover {
  background-color: var(--olive);
  color: var(--light-yellow);
}

.head-nav ul li ul{
  position: absolute;
  left: 0;
  width: 200px;
  background-color: var(--dark-yellow);
  display: none;
}

.head-nav ul li:hover > ul {
  display: block;
}

.head-nav ul li ul li{
  position: relative;
  width: 100%;
  border: solid 1px rgba(0, 0, 0, 0.2);
}

.head-nav ul li ul li ul{
  top: 0;
  left: 200px;
}

@media (max-width: 900px) {
  .head-nav{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
  .head-nav nav{
    position: absolute;
    width: 100%;
    left: 0;
    top: 66px;
    background-color: var(--dark-yellow);
   }
   .head-nav nav ul li{
    width: 100%;
   }
   .head-nav nav ul li ul{
    position: relative;
    width: 100%;
    left: 0;
   }
   .head-nav ul li ul li ul{
    top: 0;
    left: 0;
   }
   .head-nav nav ul li:hover ul li{
    background-color: var(--dark-yellow);
   }
   .menuToggle{
    position: relative;

   }
}
/*TO FINISH NAV: 13:01 https://www.youtube.com/watch?v=samof05Dy6A
FOR TRIANGLE INPUTS: https://www.w3schools.com/charsets/ref_utf_geometric.asp*/
/*NAV
#menu{
  background-color: var(--dark-yellow);
  margin: auto;
}*/

/*#menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

#menu .main-menu {
  display: none;
}

#menu input[type="checkbox"], 
#menu ul span.drop-icon {
  display: none;
}

#menu li, 
#toggle-menu, 
#menu .sub-menu {
  border-style: solid;
  border-color: rgba(0, 0, 0, .05);
}

#menu li, 
#toggle-menu {
  border-width: 0 0 1px;
}

#menu .sub-menu {
  background-color: var(--dark-yellow);
  border-width: 1px 1px 0;
  margin: 0 1em;
}

#menu .sub-menu li:last-child {
  border-width: 0;
}

#menu li, 
#toggle-menu, 
#menu a {
  position: relative;
  display: block;
  color: var(--title-text);
}

#menu, 
#toggle-menu {
  background-color: var(--dark-yellow);
}

#toggle-menu, 
#menu a {
  padding: 1em 1.5em;
}

#menu a {
  transition: all .125s ease-in-out;
  -webkit-transition: all .125s ease-in-out;
}

#menu a:hover {
  background-color: var(--olive);
  color: var(--light-yellow);
}

#menu .sub-menu {
  display: none;
}

#menu input[type="checkbox"]:checked + .sub-menu {
  display: block;
}

#menu .sub-menu a:hover {
  color: var(--dark-yellow);
}

#toggle-menu .drop-icon, 
#menu li label.drop-icon {
  position: absolute;
  right: 0.2em;
  top: 1.1em;
}

#menu label.drop-icon, #toggle-menu span.drop-icon {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  text-align: center;
  background-color: var(--title-text);
  text-shadow: 0 0 0 transparent;
  color: var(--dark-yellow);
}

#menu .drop-icon {
  line-height: 1;
}

@media only screen and (max-width: 64em) and (min-width: 52.01em) {
  #menu li {
    width: 33.333%;
    background-color: #FED21F;
  }

  #menu .sub-menu li {
    width: auto;
  }
}

@media only screen and (min-width: 768px) {
  #menu {
    display: flex;
    justify-content: center;
    margin-top:0;
  }

  #main-menu {
    display: flex;
    justify-content: space-around; /* Distribute menu items evenly 
    max-width: 800px; /* Adjust max-width as needed 
    width: 100%; /* Ensure full width 
  }
  #menu .main-menu {
    display: block;
  }

  #toggle-menu, 
  #menu label.drop-icon {
    display: none;
  }

  #menu ul span.drop-icon {
    display: inline-block;
  }

  #menu li {
    float: left;
    border-width: 0 1px 0 0;
  }

  #menu .sub-menu li {
    float: none;
  }

  #menu .sub-menu {
    border-width: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 12em;
    z-index: 3000;
  }

  #menu .sub-menu, 
  #menu input[type="checkbox"]:checked + .sub-menu {
    display: none;
  }

  #menu .sub-menu li {
    border-width: 0 0 1px;
  }

  #menu .sub-menu .sub-menu {
    top: 0;
    left: 100%;
  }

  #menu li:hover > input[type="checkbox"] + .sub-menu {
    display: block;
  }
} */

/*ABOUT PAGE*/
.abtheader{
  width:80vw;
  margin: auto;
  display: flex;
  align-items:flex-end;
  padding: 15px;
  background-color: #C8DAA6;
  border-radius: 25px;
}



@media only screen and (min-width: 480px) {
   .abtheader{
      content: url('../Content/medium/About_header.png'); /* Change the image source */
  }
}

@media only screen and (min-width: 1024px) {
  .abtheader{
    content: url('../Content/large/About_Header.png');
  }
}
   
    /*Abt Carousel*/
.container-about{
  width: 80vw;
  height: 40vh;
  margin: auto;
  margin-bottom: 25px;;
}

.carousel-about{
  width: 80vw;
  height:40vh;
  border-radius:25px;
  position: relative;
}

.slider-about{
  width: 80vw;
  height: 40vh;
}

.slider-about img{
  position: absolute;
  top: 0;
  left: 0;
  width: 80vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 0;
}
.abt-carousel{
  border-radius: 25px;
}
.slider-about img:nth-child(1){
  opacity: 1;
  z-index: 1;
}

.next{
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 2;
  padding:  10px 15px;
  border-radius: 25px;
}

.prev{
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 2;
  padding: 10px 15px;
  border-radius: 25px;
}

@media screen and (min-width: 1024px) {
  .abtheader{
    content: url(../Content/large/About_Header.jpg);
  }

.friends1{
  content: url(../Content/large/About_Friends_1.jpg);
}

.friends2{
  content: url(../Content/large/About_Friends_2.jpg);
}

.abt-square1{
  content: url(../Content/large/About_Square_1.jpg);
}

.abt-square2{
  content: url(../Content/large/About_Square_2.jpg);
}

.abt-square3{
  content: url(../Content/large/About_Square_3.jpg);
}

  .container-about{
    width: 80vw;
    height: 90vh;
  }
  
  .carousel-about{
    width: 80vw;
    height:90vh;
  }
  
  .slider-about{
    width: 80vw;
    height: 90vh;
  }
  
  .slider-about img{
    width: 80vw;
    height: 90vh;
  }
  .next{
    position: absolute;
    top: 50%;
    right: 50px;
    z-index: 2;
  }
  
  .prev{
    position: absolute;
    top: 50%;
    left: 50px;
    z-index: 2;
  }
  
  .abt1{
    content: url('../Content/large/About_Carousel_1.jpg')
  }

  .abt2{
    content: url('../Content/large/About_Carousel_2.jpg');
  }

  .abt3{
    content: url('../Content/large/About_Carousel_3.jpg');
  }
}
