:root{
  --light-yellow:#FFF48F;
  --light-green:#C8DAA6;
  --dark-yellow:#FED21F;
  --olive:#5E763B;
  --title-text:#607542;
  --main-text:#281914;
  --background:#FAF9F6;
}

@font-face {
  font-family: bodyFont;
  src: url(Inder-Regular.ttf);
}

@font-face {
  font-family: titleFont;
  src: url(InknutAntiqua-Regular.ttf);
}


p{
  font-size: 2.2vh;
  font-family: bodyFont;
  width: 80vw;
  display: flex;
  margin:auto;
  line-height: 1.45;
}

p+p{
  margin-top:15px;
}

h1{
  font-size:5.5vh;
  margin:25px, auto;
  align-items: center;
  display: flex;
  font-family: titleFont;
  color: var(--title-text);
  background-color: var(--light-yellow);
}

.about-link{
  color: var(--title-text);
  text-decoration: none;
  margin: auto;
}

h2{
  font-size: 3.5vh;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  font-family: bodyFont;
  color: var(--main-text);
}

.seperator{
  margin: 15px;
  height: 55px;
}

h3{
  font-size: 2.5vh;
  display: flex;
  justify-content: flex-start;
  margin-left:9vw;
  font-family: titleFont;
  color: var(--title-text);
}

.img-seperator{
  height:15px;
  background-color: var(--light-green);
  width:75vw;
  margin: auto;
  border-radius: 25px;
}

/*NAV*/


#menu ul {
  margin: 0;
  padding: 0;
}

#menu .main-menu {
  display: none;
}

#menu input[type="checkbox"], 
#menu ul span.drop-icon {
  display: none;
}

#menu li, 
#toggle-menu, 
#menu .sub-menu {
  border-style: solid;
  border-color: rgba(0, 0, 0, .05);
}

#menu li, 
#toggle-menu {
  border-width: 0 0 1px;
}

#menu .sub-menu {
  background-color: var(--dark-yellow);
  border-width: 1px 1px 0;
  margin: 0 1em;
}

#menu .sub-menu li:last-child {
  border-width: 0;
}

#menu li, 
#toggle-menu, 
#menu a {
  position: relative;
  display: block;
  color: var(--title-text);
}

#menu, 
#toggle-menu {
  background-color: var(--dark-yellow);
}

#toggle-menu, 
#menu a {
  padding: 1em 1.5em;
}

#menu a {
  transition: all .125s ease-in-out;
  -webkit-transition: all .125s ease-in-out;
}

#menu a:hover {
  background-color: var(--olive);
  color: var(--light-yellow);
}

#menu .sub-menu {
  display: none;
}

#menu input[type="checkbox"]:checked + .sub-menu {
  display: block;
}

#menu .sub-menu a:hover {
  color: var(--dark-yellow);
}

#toggle-menu .drop-icon, 
#menu li label.drop-icon {
  position: absolute;
  right: 1.5em;
  top: 1.25em;
}

#menu label.drop-icon, #toggle-menu span.drop-icon {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  text-align: center;
  background-color: var(--title-text);
  text-shadow: 0 0 0 transparent;
  color: var(--dark-yellow);
}

#menu .drop-icon {
  line-height: 1;
}

@media only screen and (max-width: 64em) and (min-width: 52.01em) {
  #menu li {
    width: 33.333%;
    background-color: #FED21F;
  }

  #menu .sub-menu li {
    width: auto;
  }
}

@media only screen and (min-width: 52em) {
  #menu .main-menu {
    display: block;
  }

  #toggle-menu, 
  #menu label.drop-icon {
    display: none;
  }

  #menu ul span.drop-icon {
    display: inline-block;
  }

  #menu li {
    float: left;
    border-width: 0 1px 0 0;
  }

  #menu .sub-menu li {
    float: none;
  }

  #menu .sub-menu {
    border-width: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 12em;
    z-index: 3000;
  }

  #menu .sub-menu, 
  #menu input[type="checkbox"]:checked + .sub-menu {
    display: none;
  }

  #menu .sub-menu li {
    border-width: 0 0 1px;
  }

  #menu .sub-menu .sub-menu {
    top: 0;
    left: 100%;
  }

  #menu li:hover > input[type="checkbox"] + .sub-menu {
    display: block;
  }
}